.star::after, 
.star::before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 10%;
    border: 2px solid;
    border-radius: 2px;
    vertical-align: middle;
}

.star{
    font-size: 2rem;
}

.contact-form label{
    opacity: 0
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form textarea:focus {
  box-shadow: none;
  border-bottom: solid 2px #6c757d;;
}